heart/src/io/HeartPhysiologicalParameters.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="ConductivitiesType">
  	<xs:sequence>
  	  <xs:element name="Conductivity" type="xs:double" minOccurs="1" maxOccurs="3"/>
  	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="HeartPhysiologicalParametersType">
    <xs:sequence>
      <xs:element name="SurfaceAreaToVolumeRatio" type="xs:double"/>
      <xs:element name="Capacitance" type="xs:double"/>
      <xs:element name="Conductivities" type="ConductivitiesType"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:element name="HeartPhysiologicalParameters" type="HeartPhysiologicalParametersType"/>

</xs:schema>
